[Unit]
Description=Backend Service
After=network.target

[Service]
User=expense
WorkingDirectory=/app
Environment=DB_HOST=mysql.rushhav.fun
ExecStart=/usr/bin/node /app/index.js
Restart=always
RestartSec=5
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target
